# build project
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# WebStorm
.idea

# package-lock.json
package-lock.json